*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
    color: #555;
    font-family: "Lato";
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(20, 20, 20, 0.69), rgba(20, 20, 20, 0.69)),
    url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
}
.navcon{
    background-color: transparent;
}
.nav-item{
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
    transition: 0.5s;
}
.nav-item:hover{
    border-bottom: 2px solid orange;
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    color: orangered;
    font-weight: bolder;
}
.header-text{
    font-family: "Lato";
    background-color: transparent;
    color:white;
}
.headermain{
  font-size: 2rem;
  text-transform: uppercase; 
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px; 
}
.btn{
    border: 1px  solid silver;
    border-radius: 30px;
    text-decoration:none;
    margin-left: 20px;
}

.section1{
    min-height: 101vh;
    background-image:linear-gradient(rgba(220, 220, 220, 0.69), rgba(220, 220, 220, 0.69)),
    url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
}
.cardcon {
    background-color: white;
    min-height: 620px;
    padding: 20px;
    box-shadow: 14px 10px 10px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 14px 10px 10px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 14px 10px 10px 0px rgba(0, 0, 0, 0.55);
}
.card h3{
    padding: 20px;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;

}
.card h4{
    padding: 20px;
    color: orange;
    text-transform: uppercase;
    font-size: 75%;
    text-align: center;
    margin-bottom: -20px;
}
.card p{
    font-size: 70%;
}
.btn-card{
    font-size: 70%;
    font-weight: bold;
}
.section2{
    min-height: 90vh;
    background-color:wheat;

}
.ourteam {
    padding-top: 70px;
    text-align: center;
    font: 200%;
    color: rgba(20, 20, 20, 0.69);
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}
.OTCname{
    color: chocolate;
    font-size: 120%;
}
.OTCp{
    font-size: 70%;
}

footer{
    height: 10vh;
    background-color: black;
}
.footer-p{
    font-size: 60%;
    color: white;
}
@media(max-width: 812px){
    .navcon{
        background-color: black;
    }
    .btn{
        font-size: 0.8rem;
    }
    .header-text{
        padding-top: 0;
        margin-bottom: 0;
    }
    .headermain{
        font-size: 1.5rem;
    }
    footer{
        height: 18vh;
    }
}
